/* Config Layout */
@import "base.rasi"

configuration {
    show-icons:                  true;
}

window {
    width:                       750px;
    y-offset:                    0px;
}

mainbox {
    spacing:                     20px;
    padding:                     20px;
}

inputbar {
    spacing:                     10px;
    padding:                     12px 15px;
}

entry {
    placeholder:                 "Search...";
}

listview {
    enabled:                     true;
    columns:                     5;
    lines:                       3;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
}

element {
    padding:                     15px 8px;
    orientation:                 vertical;
}

element-icon {
    enabled:                     true;
    size:                        52px;
}

element-text {
    vertical-align:              0.5;
    horizontal-align:            0.5;
}
