/* ListSearch Layout */
@import "base.rasi"

listview {
    enabled:                     true;
    columns:                     1;
    lines:                       8;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    fixed-height:                false;
    fixed-columns:               true;
}
