* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'JetBrainsMono Nerd Font Propo', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: transparent;
    color: #f5e0dc;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #b4befe;
    color: #1E1E2E;
}

/* WORKSPACES*/

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces {
    border-radius: 0px;
    border: 2px #b4befe solid;
    background: #1E1E2E;
    color: #b4befe;
    font-weight: normal;
    font-style: normal;
}
#workspaces button {
    background: #1E1E2E;
    color: #b4befe;
    transition: all 0.1s ease-in-out;
}
#workspaces button.active {
    background: #b4befe;
    color: #1E1E2E;
    border-radius: 0px;
    min-width: 30px;
    background-size: 400% 400%;
    transition: all 0.1s ease-in-out;
}
#workspaces button:hover {
    background: #b4befe;
    color: #1E1E2E;
    border-radius: 0px;
    min-width: 30px;
}

/* WORKSPACES END*/

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#bluetooth,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
    margin: 0 0px;
}

#tray {
    border-radius: 0px;
    border: 2px #b4befe solid;
    background-color: #1E1E2E;
/*    background-color: #1E1E2E;
   color:#b4befe;  */
}

/* #tray > .active {
    background-color: #b4befe;
    color:#b4befe;
}

#tray > .passive {
    background-color: #1E1E2E;
    color: #b4befe;
}

#tray > .needs-attention {
    background-color: #eba0ac;
    color: #11111b; 
}
*/

#custom-logo {
    border-radius: 0px;
    border: 2px #b4befe solid;
    margin-left: 3px;
    background-color: #1E1E2E;
    color:#b4befe;  
}

#custom-logo:hover {
    background-color: #b4befe;
    color: #1E1E2E;
}

#window,
#workspaces {
    margin: 0 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#bluetooth{
    border-radius: 0px;
    border: 2px #b4befe solid;
    background-color: #1E1E2E;
    color:#b4befe;
}

#bluetooth:hover {
    background-color: #b4befe;
    color: #1E1E2E;
}

#clock {
    border-radius: 0px;
    border: 2px #b4befe solid;
    background-color: #1E1E2E;
    color: #b4befe;
}

#clock:hover {
    background-color: #b4befe;
    color: #1E1E2E;
}

#custom-notification {
    border-radius: 0px;
    border: 2px #b4befe solid;
    background-color: #1E1E2E;   
    color:#b4befe;
    margin-right: 3px;
}

#custom-notification:hover {
    background-color: #b4befe;
    color: #1E1E2E;
}

#network {
    border-radius: 0px;
    border: 2px #b4befe solid;
    background-color: #1E1E2E;
    color:#b4befe;
}

#network:hover {
    background-color: #b4befe;
    color: #1E1E2E;
}

#network.disconnected {
    border-radius: 0px;
    border: 2px #b4befe solid;
    background-color: #eba0ac;
    color: #11111b;
}

#pulseaudio {
    border-radius: 0px;
    border: 2px #b4befe solid;
    background-color: #1E1E2E;
    color: #b4befe;
}

#pulseaudio.muted {
    border-radius: 0px;
    border: 2px #b4befe solid;
    background-color: #eba0ac;
    color: #11111b;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

    /*Using steps() instead of linear as a timing function to limit cpu usage*/

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

