* {
    /* `otf-font-awesome` is required to be installed for icons */
    /*font-family: 'JetBrainsMono Nerd Font Propo', sans-serif;*/
    font-family: 'iMWritingMono Nerd Font Propo';
    font-size: 13px;
    font-weight: bold;
    border-radius: 10 10 10 10px;
}

@import "../waybar/colors/mocha.css";

window#waybar {
    background-color: rgba(30, 30, 46, 0.85);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* WORKSPACES*/


#workspaces {
    /*border: 2px @lavender solid;*/
    /*background: @base;*/
    color: @yellow;
    font-weight: normal;
    font-style: normal;
}
#workspaces button {
    border-radius: 10px;
    /*background: @base;*/
    min-width: 20px;
    color: @yellow;
    transition: all 0.1s ease-in-out;
}
#workspaces button.active {
    background: @yellow;
    color: @base;
    border-radius: 10px;
    min-width: 30px;
    background-size: 400% 400%;
    transition: all 0.1s ease-in-out;
}

/* you can set a style on hover for any module like this */

#workspaces button:hover {
    background: @yellow;
    color: @base;
    border-radius: 10px;
    min-width: 30px;
}

/* WORKSPACES END*/

#clock,
#bluetooth,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpris,
#mpd {
    padding: 0 10px;
    color: #ffffff;
    margin: 0 0px;
}

#tray {
    border-radius: 10px;
    /*border: 2px @lavender solid;*/
    background-color: @base;
    color: @lavender;
/*  background-color: @base;
    color:@lavender;  */
}

/* #tray > .active {
    background-color: @lavender;
    color:@lavender;
}

#tray > .passive {
    background-color: @base;
    color: @lavender;
}

#tray > .needs-attention {
    background-color: #eba0ac;
    color: #11111b; 
}
*/

#mpris {
    border-radius: 10px;
    /*border: 2px @lavender solid;*/
    /*background-color: @base;*/
    color:@lavender;  
}

#mpris:hover {
    background-color: @lavender;
    color: @base;
}

#custom-logo {
    border-radius: 10px;
    /*border: 2px @lavender solid;*/
    /*margin-right: 3px;*/
    /*background-color: @base;*/
    color:@maroon;  
}

#custom-logo:hover {
    background-color: @maroon;
    color: @base;
}

#window,
#workspaces {
    margin: 0 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#bluetooth{
    border-radius: 10px;
    font-size: 14;
    /*border: 2px @lavender solid;*/
    /*background-color: @base;*/
    color:@flamingo;
}

#bluetooth:hover {
    background-color: @flamingo;
    font-size: 14;
    color: @base;
}

#clock {
    border-radius: 10px;
    /*margin-left: 3px;*/
    /*border: 2px @lavender solid;*/
    /*background-color: @base;*/
    color: @rosewater;
}

#clock:hover {
    background-color: @rosewater;
    color: @base;
}

/*
#custom-notification {
    border-radius: 10px;
    border: 2px @lavender solid;
    background-color: @base;   
    color:@teal;
}


#custom-notification:hover {
    background-color: @teal;
    color: @base;
}

*/

#network {
    border-radius: 10px;
    /*border: 2px @lavender solid;
    background-color: @base;*/
    color:@sky;
}

#network:hover {
    background-color: @sky;
    color: @base;
}

#network.disconnected {
    border-radius: 10px;
    background-color: @red;
    color: @crust;
}

#pulseaudio {
    border-radius: 10px;
    /*border: 2px @lavender solid;*/
    /*background-color: @base;*/
    color: @sapphire;
}

#pulseaudio.muted {
    border-radius: 10px;
    background-color: @red;
    color: @crust;
}

#pulseaudio:hover {
    background-color: @sapphire;
    color: @base;
}











/*MODULES THAT ARE NOT IN USE*/

#battery {
    /*background-color: @base;*/
    color: @rosewater;
}

#battery.charging, #battery.plugged {
    color: @green;
    /*background-color: @rosewater;*/
}

@keyframes blink {
    to {
        background-color: @crust;
        color: @text;
    }
}

    /*Using steps() instead of linear as a timing function to limit cpu usage*/

#battery.critical:not(.charging) {
    /*background-color: @red;*/
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

