@define-color base #1e1e2e;     /* Main Control Center Background */
@define-color mantle #313244;   /* Notification Card Background (Surface0) */
@define-color crust #11111b;    /* Darkest - used for close buttons/borders */
@define-color text #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;
@define-color surface0 #45475a;
@define-color surface1 #585b70;
@define-color surface2 #6c7086;
@define-color mauve #cba6f7;
@define-color lavender #b4befe;
@define-color blue #89b4fa;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color pink #f5c2e7;
@define-color sapphire #74c7ec;
@define-color yellow #f9e2af;