* {
    /* Catppuccin Mocha */
    bg-col:         #1e1e2ee6;
    bg-col-light:   #313244;
    border-col:     #45475a;
    accent:         #cba6f7;
    fg-col:         #cdd6f4;
    fg-col2:        #f38ba8;
    grey:           #6c7086;
    network:        #b4befe;
    bluetooth:      #f2cdcd;
    wallpaper:      #89dceb;
    music:          #a6e3a1;

    /* Aliases */
    background:     @bg-col;
    background-alt: @bg-col-light;
    foreground:     @fg-col;
    selected:       @accent;

    width:          600;
    font:           "GeistMono Nerd Font Propo 13";
}